@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Mono", sans-serif;
}

.title {
  text-align: center;
  color: white;
  margin: 0;
  margin-top: 15px;
}

.input {
  max-width: 250px;
  max-height: 15px;
}

.input::placeholder {
  font-family: "IBM Plex Mono", sans-serif;
}

.nice-form-group > label {
  color: white;
  margin-bottom: 0;
}

.nice-form-group {
  color: white;
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  z-index: 1;
  background-color: rgba(14, 14, 14, 0.5);
}

.label {
}

.fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 25px;
}

.checkbox__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label__switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.label__switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

html {
  background-color: #090a0f;
  background: radial-gradient(ellipse at bottom, #fff, #acd4e9);
}

body {
  background: transparent;
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 3) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px
        hsla(random() * 360, 100%, 50%, 0.9);
  }
  text-shadow: $text-shadow;
}

head::before,
head::after,
body::before,
body::after {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  @include dots(10);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(10);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(10);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(10);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
